<div class="container">
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign in to Complete Your Review</h4>
        </div>
        <div class="modal-body">
          Add Review
          <%= form_for review , :as => :review, :url => "/reviews/create",:remote=>true do |f| %>
            <%=f.label  :content%>
            <%=f.text_area :content %>
            <%=f.hidden_field :user_id,:value=>current_user.present? ? current_user.id : " "%>
            <%=f.hidden_field :entry_id,:value=>""%></br>
            <%=f.label :rating%>
            <div class="add_rating">
            </div>
            <%=f.hidden_field :rating%>
            <%=f.submit "Submit"%>
          <%end%>
        </div>
        <div class="modal-footer" >
        </div>
      </div>
    </div>
  </div>
</div>