
 <footer class="footer h-footer">
      <div class="container">
      <hr>
      <div class="row">
              <ul class = "nav navbar-nav">
              <li>
              <%= link_to "Tagore Garden Wala", main_app.root_path%>
              </li>
              <li>
              <%= link_to "About Us", main_app.about_us_path%>

              </li>
              <li>
              <%= link_to "Contact Us", main_app.contact_us_path%>
              </li>
              <li>
              <%= link_to "Faqs", main_app.root_path%>
              </li>
              <li>
              <%= link_to "Help Us", main_app.root_path%>
              </li>
              <li>
              <%= link_to "Forum", main_app.root_path%>
              </li>
              <li>
              <%= link_to "Queries", main_app.root_path%>
              </li>
              <li>
              <%= link_to "Suggestions", main_app.root_path%>
              </li>
              <li>
              <%= link_to "Subscribe", main_app.emailapi_index_path%>
              </li>
              <li>
                    <div id="follow" style="width:250px;margin:0 auto; border:none!important;"> 
<a class="facebook" href="#" rel="nofollow" title="Follow me on Facebook">Facebook</a> 
<a class="twitter" href="#" rel="nofollow" title="Follow me on Twitter">Twitter</a> 
<a class="gplus" href="#" rel="nofollow" title="Follow me on Google Plus">Google Plus</a> 
 <!-- <a class="rss" href="http://feeds.feedburner.com/iamshemul" rel="nofollow" title="Subscribe To RSS">Subscribe To RSS</a> 
<a class="tube" href="http://www.youtube.com/user/shemul49rmc" rel="nofollow" title="Follow me on YouTube">YouTube</a>  -->
</div> 
              </li>
    
              </ul>

      </div>
        <div class="row">

           &copy; 2016 Tagore Garden Wala
     
                    <div class="pull-right">
                    made with <%=image_tag("love.jpg", height: '32', width: '32')%>
 in india
                     </div>
        </div>
      </div>
