<h1> Results </h1>
<div class="container">
<%records.each do |rec|%>
  <div class="jumbotron">
  <%= link_to image_tag(rec.image.url(:med)),rec.image.url %>
   <%=rec.category.category_name%>
  <%= rec.address%>
  <%= rec.city%>
  <%= rec.state%>
  <%= rec.country%>
  <%= rec.other_details%>
  <%= rec.user.phone_number%>
</div>
  <%end%>
</div>
