<div class="container">
<div class="row">
<%= link_to map_display_path(:category=>Category.find_by_category_name("Hotel").id) do %>
<div  class="mapper box  col-lg-4 col-sm-4 col-md-3 hotel ">
<center><i><h1>Hotels</h1><i> </center>
</div>
<%end%>
<%= link_to map_display_path(:category=>Category.find_by_category_name("Doctor").id) do %>
<div class="mapper box col-lg-4 col-sm-4 col-md-3 doctor">
<center><i><h1>Doctors</h1><i> </center>
</div>
<%end%>
<%= link_to map_display_path(:category=>Category.find_by_category_name("Electrician").id) do %>

<div class="mapper box col-lg-4 col-sm-4 col-md-3 electrician">

<center><i><h1>Electricians</h1><i> </center>
</div>
<%end%>
</div>
<div class="clear"></div></br>
<div class="row">
<%= link_to map_display_path(:category=>Category.find_by_category_name("Chemist").id) do %>
<div  class="mapper box col-lg-4 col-sm-4 col-md-3 chemist">
<center><i><h1>Chemists</h1><i> </center>
</div>
<%end%>
<%= link_to map_display_path(:category=>Category.find_by_category_name("Parlour").id) do %>

<div  class="mapper box col-lg-4 col-sm-4 col-md-3 parlour">

<center><i><h1>Beauty Parlour</h1><i> </center>
</div>
<%end%>
<%= link_to map_display_path(:category=>Category.find_by_category_name("Tailor").id) do %>

<div class="mapper box tailor col-lg-4 col-sm-4 col-md-3">
</div>
<%end%> 
<div class="clear"></div></br>
<div class="row">
<%= link_to map_display_path(:category=>Category.find_by_category_name("Grocery").id) do %>

<div  class="mapper box grocery col-lg-4 col-sm-4 col-md-3">
<center><i><h1>Grocery Shops</h1><i> </center>
</div>
<%end%>

<%= link_to map_display_path(:category=>Category.find_by_category_name("Bank").id) do %>

<div class="mapper box bank col-lg-4 col-sm-4 col-md-3">
<center><i><h1>Banks</h1><i> </center>
</div>
<%end%>
<%= link_to map_display_path(:category=>Category.find_by_category_name("Bakery").id) do %>
<div class="mapper box bakeries col-lg-4 col-sm-4 col-md-3">
<center><i><h1>Bakeries</h1><i> </center>
</div>
<%end%>
<!-- <div class="mapper box photo_studios">
<center><i><h1>Photo Studios</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Hot Spots</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Mother Diaries and Milk Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Dry Cleaners</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Stationery Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Jewellers</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Clothing</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Phone Recharge and Accessories</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>PhotoCopy Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Opticals</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Juice Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Kid Schools</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Footwear Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Toys Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Parks</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Emergency Contacts</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Cosmetics</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Lawyers</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Gyms</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Govt Offices</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Atms</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Religious Places</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Plumbers</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Painters</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Gardners</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Cobblers</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Emergency Contacts</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Emergency Contacts</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Tutors</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Courier Services</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Tour Updates</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Tour Updates</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Home Cleaning Services</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Sanitary Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Welders</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Furniture Shops</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Welders</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Pricing Updates of services in your area</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Architects</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Software Developers</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Hardware Engineers</h1><i> </center>
</div>
<div class="mapper box hotspot">
<center><i><h1>Sweet Shops</h1><i> </center>
</div> -->
<!-- <div class="clear"></div></br> -->
<%#= google_adsense_include_tag client: 'pub-1234', slot: '1234'%>
</div>