      <%= javascript_include_tag "oms.min"%>
      <style type="text/css">
.left-div {
    /*float: left;*/
    /*max-width:100em;*/
    width: 50em;
    height: 45em;
    top:0;
    /*padding-right: 8px;*/
}
.right-div {
    /*float: left;*/
    margin-left: 2em;
    background-color: yellow;
}
@media (max-width: 768px) {
.left-div {
    /*float: left;*/
    /*max-width:100em;*/
    width: 25em;
    height: 25em;
    top:0;
    /*padding-right: 8px;*/
}
.right-div {
    /*float: left;*/
    margin-left: 1em;
    height: auto;
    width: 25em;
    background-color: yellow;
}
}
</style>
<!-- style='width: 800px; height: 800px;padding-right: 10px;float:left;' -->
<div class="container">
<div class="row">
<div   id="multi_markers" class="g_map left-div col-lg-8" >
</div> 
<div class="right-div col-lg-4">
<h1><%=@category.titleize%> in Tagore Garden Area </h1></br>
<%i=0%>
<% @entries.each do |entry| -%>
    <li>
       <%= entry.other_details %> <%= entry.address %>,contact <%=entry.owner.owner_name%> <%=entry.owner.phone_number%></br>  
       Rating:<div class="fixed" data-score=<%=i%>></div>
       <%=link_to "Show Reviews","#" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%=link_to "Add Reviews","#",data:{toggle:"modal",target:"#myModal"} %>
    </li>
    <%i=i+1%>
<% end -%>
</div>
</div>
</div>
<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign in to Complete Your Review</h4>
        </div>
        <div class="modal-body">
          <p><%= link_to(image_tag("fb.png", :alt => "home image", :width =>200, :height => 50, :title => "Login via Facebook")) %></br>
          <%= link_to(image_tag("google.png", :alt => "home image", :width =>200, :height => 50, :title => "Login via Google Plus")) %></br>
        </div>
        <div class="modal-footer" >
           <div style="float:left">Or use Your Email Address</div></br>
          <button type="button" class="btn btn-default" style="float:left;">Login </button> <button type="button" class="btn btn-default" style="float:left;">SignUp</button>
          </p>        </div>
      </div>
      
    </div>
  </div>
  
</div>
<script type="text/javascript">
$( document ).ready(function() {
  $('.fixed').raty({
  readOnly:  true,
  score:  function() {
            return $(this).attr('data-score')
        },
  path:  '/assets/',

});
var json_map=<%=@json_map.to_json.html_safe%>
// var handler = Gmaps.build('Google');
var handler = Gmaps.build('Google',
        {markers:
          {clusterer: {
            gridSize: 40,
            maxZoom: 10
         
          },
          marker_spider:"true"
        }}
      );
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers(json_map);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
   // Create a OverlappingMarkerSpiderfier instance
  var oms = new OverlappingMarkerSpiderfier(handler.getMap(), {
    keepSpiderfied: true
    // Other options you need
  });

  // Track each marker with OMS
  _.each(markers, function(marker) {
    oms.addMarker(marker.getServiceObject());
  });
});
});
    </script>
