 <%= javascript_include_tag "oms.min"%>
 <%= stylesheet_link_tag  'map_display' %>
 <%= javascript_include_tag "map_display"%>

<div class="container">
<div class="row">
<div   id="multi_markers" class="g_map left-div col-lg-8" >
</div> 
<div class="right-div col-lg-4">
<h1><%=@category.titleize.pluralize%> in Tagore Garden Area </h1></br>
<% @entries.each do |entry| -%>
    <li>
       <%= entry.other_details %> <%= entry.address %>,contact <%=entry.owner_owner_name%> <%=entry.owner_phone_number%></br>  
       Rating:<div class="fixed" data-score=<%=entry.avg_rating%>></div>
       <%=link_to "Show Reviews","#",data:{entry:entry.id},class:"show_reviews"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%if user_signed_in?%>
          <%=link_to "Add Reviews","#",data:{toggle:"modal",target:"#myModal1",entry:entry.id},:class=>"add_review"%>
       <%else%>
          <%=link_to "Add Reviews","#",data:{toggle:"modal",target:"#myModal"} %>
       <%end%>
    </li>
<% end -%>
<%= will_paginate @entries %>
</div>
</div>
</div>
<%= render "shared/add_reviews" %>
<%= render "shared/reviews"%>
<%= render "shared/signup"%>
<%= render "shared/login"%>
<%= render "shared/fb_google_plus"%>
<script type="text/javascript">
  $(document).ready(function(){
  var json_map=<%=@json_map.to_json.html_safe%>
  var handler = Gmaps.build('Google',
        {markers:
          {clusterer: {
            gridSize: 40,
            maxZoom: 10
            // minZoom
            // Zoom: 0,
       
          },
          marker_spider:"true"
        }}
      );
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers(json_map);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
   // Create a OverlappingMarkerSpiderfier instance
  var oms = new OverlappingMarkerSpiderfier(handler.getMap(), {
    keepSpiderfied: true
    // Other options you need
  });

  // Track each marker with OMS
  _.each(markers, function(marker) {
    oms.addMarker(marker.getServiceObject());
  });
});
});
</script>


